[submodule "reqlens-node"]
	path = reqlens-node
	url = https://github.com/MayerAttila/reqlens-node.git
[submodule "reqlens-api"]
	path = reqlens-api
	url = https://github.com/MayerAttila/reqlens-api.git
[submodule "reqlens-web"]
	path = reqlens-web
	url = https://github.com/MayerAttila/reqlens-web.git
[submodule "reqlens-examples"]
	path = reqlens-examples
	url = https://github.com/MayerAttila/reqlens-examples.git
